In [23]:
import os
import glob
import pandas as pd
import openpyxl
import numpy as np
#import psycopg2 as ps
import matplotlib.pyplot as plt

In [11]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.7-py2.py3-none-any.whl (243 kB)
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.7
Note: you may need to restart the kernel to use updated packages.

In [12]:
#combined sheets
df = pd.concat(pd.read_excel('data.xls', sheet_name=None), ignore_index=True)

In [15]:
# we dropped empty rows so we went from 507 to 388 ops 
df.dropna(subset = ["Name"], inplace=True)

In [16]:
df

,Name,Job,Location,Company,College,LinkedinLink,Projects,Languages,Experience,ExperienceDuration,Education,Certification,Volunteering,VolunteeringDuration,Connections,Recommendations
0,Dr. Hilal El Misilmani,Assistant Professor | Graduate Studies Coordin...,Lebanon Contact info,Beirut Arab University,American University of Beirut,https://lb.linkedin.com/in/hilalelmisilmani,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,500+,0.0
1,Basma Frangieh,Présidente de T.I.E.S (Together for Inclusive ...,Lebanon Contact info,Université Libanaise - Faculté de Pédagogie,NaN,https://lb.linkedin.com/in/basma-frangieh-0493...,2.0,3.0,\nConsultante en sciences de l'éducation - - ...,5 yrs 8 mos\n2 yrs 5 mos\n11 mos\n1 yr\nLocati...,NaN,\nVerified International Academic Qualificati...,\nMilitante - AIDES,7 yrs 8 mos\n,500+,0.0
2,Hassan Nasrallah,Graduate Research Assistant - Computer Vision ...,Lebanon Contact info,National Council for Scientific Research (CNRS),Lebanese University - Faculty of Engineering III,https://lb.linkedin.com/in/hassan-nasrallah-38...,6.0,NaN,\nGraduate Research Assistant - Computer Visi...,7 mos\n6 mos\n3 mos\n,\nLebanese University - Faculty of Engineerin...,NaN,NaN,NaN,232,0.0
3,Tony Kassab,Molecular and cellular biologist,"Beirut, Lebanon Contact info",Lebanese university,NaN,https://lb.linkedin.com/in/tony-kassab-75936a139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41,NaN
4,Elie Yammine,Statistician at Statistics Lebanon Ltd,"Qabb Elias, Beqaa, Lebanon Contact info",Statistics Lebanon Ltd,Lebanese University - Faculty of Sciences,https://lb.linkedin.com/in/elie-yammine-a5b61918a,NaN,NaN,\nStatistician - Statistics Lebanon Ltd Full-...,2 mos\n9 mos\n,\nLebanese University - Faculty of Sciences -...,NaN,NaN,NaN,15,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,Perla Ibrahim,Accountant at Logistica SAL - Obegi Consumer P...,Lebanon Contact info,Obegi Consumer Products Holding,NaN,https://lb.linkedin.com/in/perla-ibrahim-6632a...,NaN,3.0,\nAccountant - Obegi Consumer Products Holdin...,6 mos\n1 mo\n1 mo\nless than a year\nless than...,\nAntonine University - Baabda - Banking and ...,NaN,\nChef de Patrouille - Scout du Liban \nTreas...,6 yrs\n3 yrs\n,57,NaN
501,SarkiS Fadlallah,Telecommunications Specialist at Advanced Inte...,Lebanon Contact info,Advanced Integration Technologies,NaN,https://lb.linkedin.com/in/sarkis-fadlallah-18...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,0.0
502,Youssef Noureddine,Computer & Communication Engineer,Lebanon Contact info,Lebanese International University,NaN,https://lb.linkedin.com/in/youssef-noureddine-...,NaN,NaN,NaN,NaN,\nLebanese International University - Compute...,NaN,NaN,NaN,51,NaN
503,Fadi Haddad,Computer Engineer Graduate,"Tripoli, North, Lebanon Contact info",AI Venture Labs,Lebanese International University,https://lb.linkedin.com/in/fadi-haddad-4303a5164,NaN,NaN,\nMachine Learning & AI Intern - AI Venture L...,2 mos\n3 mos\n,NaN,\nFull-Stack Engineer Career Path - Codecadem...,NaN,NaN,21,NaN
504,Elias Chalouhy,Master's student in Computer Communication Eng...,Lebanon Contact info,Université de Franche-Comté,NaN,https://lb.linkedin.com/in/elias-chalouhy,NaN,NaN,NaN,NaN,\nUniversité de Franche-Comté - Computer Engi...,NaN,NaN,NaN,38,NaN

In [41]:
print(df.isna().sum())

Name                      0
Job                       0
Location                  0
Company                   2
College                 128
LinkedinLink              0
Projects                317
Languages               221
Experience              167
ExperienceDuration      167
Education               246
Certification           312
Volunteering            342
VolunteeringDuration    342
Connections              22
Recommendations         188
dtype: int64

In [25]:
df.describe()

        Projects   Languages  Recommendations
count  71.000000  167.000000        200.00000
mean    3.464789    2.928144          0.02500
std     3.065154    0.803373          0.18587
min     1.000000    1.000000          0.00000
25%     1.000000    2.000000          0.00000
50%     2.000000    3.000000          0.00000
75%     4.500000    3.000000          0.00000
max    16.000000    5.000000          2.00000

### Recommendations don't seems to be popular amogst this age group in my set.

In [40]:
print('number of rows that have both college and education missing:', df[df['Education'].isnull() & df['College'].isnull()].shape[0])
# HOW IS THAT EVEN POSSIBLE MAAAAAAMMM

#indexNames = df2[ df2['location_type'] != 'county' ].index
#print(indexNames)

number of rows that have both college and education missing: 79

In [64]:
df.Education.dtypes
#df['C'] = df["Education"].apply(lambda L: L.rstrip("\n"))
df['C'] = df["Education"].astype(str).str.replace('\n', '')

In [84]:
df['D'] = df[""].astype(str).str.strip()
#new_df = df.apply(lambda x: np.square(x) if x.name == 'z' else x)
#split(':')[0]

In [ ]:
df['D'] = df["D"].astype(str).str.split('-').str[0]

In [94]:
df['University Name'].unique().tolist()

['nan',
 'Lebanese University',
 'Notre Dame University',
 'Online Learning Consortium',
 'University of Balamand',
 'Lebanese International University',
 'American University of Beirut',
 'Haigazian University',
 'Lebanese American University',
 'Université Saint',
 'Saint Joseph University of Beirut',
 'Beirut Arab University',
 'American University of Science and Technology',
 'Holy Spirit University of Kaslik',
 'Kingston University',
 'AUL university',
 'Université de Franche',
 'Lebanese university faculty of agronomy',
 'Antonine University']

In [ ]:
len(df['College'].unique().tolist())

In [89]:
df['University Name'] = df['D']

In [90]:
df = df.drop(['D', 'C'], axis = 1)

In [91]:
df

,Name,Job,Location,Company,College,LinkedinLink,Projects,Languages,Experience,ExperienceDuration,Education,Certification,Volunteering,VolunteeringDuration,Connections,Recommendations,University Name
0,Dr. Hilal El Misilmani,Assistant Professor | Graduate Studies Coordin...,Lebanon Contact info,Beirut Arab University,American University of Beirut,https://lb.linkedin.com/in/hilalelmisilmani,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,500+,0.0,nan
1,Basma Frangieh,Présidente de T.I.E.S (Together for Inclusive ...,Lebanon Contact info,Université Libanaise - Faculté de Pédagogie,NaN,https://lb.linkedin.com/in/basma-frangieh-0493...,2.0,3.0,\nConsultante en sciences de l'éducation - - ...,5 yrs 8 mos\n2 yrs 5 mos\n11 mos\n1 yr\nLocati...,NaN,\nVerified International Academic Qualificati...,\nMilitante - AIDES,7 yrs 8 mos\n,500+,0.0,nan
2,Hassan Nasrallah,Graduate Research Assistant - Computer Vision ...,Lebanon Contact info,National Council for Scientific Research (CNRS),Lebanese University - Faculty of Engineering III,https://lb.linkedin.com/in/hassan-nasrallah-38...,6.0,NaN,\nGraduate Research Assistant - Computer Visi...,7 mos\n6 mos\n3 mos\n,\nLebanese University - Faculty of Engineerin...,NaN,NaN,NaN,232,0.0,Lebanese University
3,Tony Kassab,Molecular and cellular biologist,"Beirut, Lebanon Contact info",Lebanese university,NaN,https://lb.linkedin.com/in/tony-kassab-75936a139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41,NaN,nan
4,Elie Yammine,Statistician at Statistics Lebanon Ltd,"Qabb Elias, Beqaa, Lebanon Contact info",Statistics Lebanon Ltd,Lebanese University - Faculty of Sciences,https://lb.linkedin.com/in/elie-yammine-a5b61918a,NaN,NaN,\nStatistician - Statistics Lebanon Ltd Full-...,2 mos\n9 mos\n,\nLebanese University - Faculty of Sciences -...,NaN,NaN,NaN,15,NaN,Lebanese University
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,Perla Ibrahim,Accountant at Logistica SAL - Obegi Consumer P...,Lebanon Contact info,Obegi Consumer Products Holding,NaN,https://lb.linkedin.com/in/perla-ibrahim-6632a...,NaN,3.0,\nAccountant - Obegi Consumer Products Holdin...,6 mos\n1 mo\n1 mo\nless than a year\nless than...,\nAntonine University - Baabda - Banking and ...,NaN,\nChef de Patrouille - Scout du Liban \nTreas...,6 yrs\n3 yrs\n,57,NaN,Antonine University
501,SarkiS Fadlallah,Telecommunications Specialist at Advanced Inte...,Lebanon Contact info,Advanced Integration Technologies,NaN,https://lb.linkedin.com/in/sarkis-fadlallah-18...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,0.0,nan
502,Youssef Noureddine,Computer & Communication Engineer,Lebanon Contact info,Lebanese International University,NaN,https://lb.linkedin.com/in/youssef-noureddine-...,NaN,NaN,NaN,NaN,\nLebanese International University - Compute...,NaN,NaN,NaN,51,NaN,Lebanese International University
503,Fadi Haddad,Computer Engineer Graduate,"Tripoli, North, Lebanon Contact info",AI Venture Labs,Lebanese International University,https://lb.linkedin.com/in/fadi-haddad-4303a5164,NaN,NaN,\nMachine Learning & AI Intern - AI Venture L...,2 mos\n3 mos\n,NaN,\nFull-Stack Engineer Career Path - Codecadem...,NaN,NaN,21,NaN,nan
504,Elias Chalouhy,Master's student in Computer Communication Eng...,Lebanon Contact info,Université de Franche-Comté,NaN,https://lb.linkedin.com/in/elias-chalouhy,NaN,NaN,NaN,NaN,\nUniversité de Franche-Comté - Computer Engi...,NaN,NaN,NaN,38,NaN,Université de Franche

In [104]:
df['University Name'] = df['University Name'].astype(str).str.replace('Université Saint', 'Saint Joseph University')

In [106]:
df['University Name'] = df['University Name'].astype(str).str.replace('Saint Joseph University of Beirut', 'Saint Joseph University')

In [109]:
df['University Name'].unique().tolist()

['nan',
 'Lebanese University',
 'Notre Dame University',
 'Online Learning Consortium',
 'University of Balamand',
 'Lebanese International University',
 'American University of Beirut',
 'Haigazian University',
 'Lebanese American University',
 'Saint Joseph University',
 'Beirut Arab University',
 'American University of Science and Technology',
 'Holy Spirit University of Kaslik',
 'Kingston University',
 'AUL university',
 'Université de Franche',
 'Lebanese university faculty of agronomy',
 'Antonine University']

In [113]:
df.to_csv('combined.csv', index=False)

In [111]:
df = df.drop(['D'], axis = 1)